.input-group
{
    padding-top: 10px;
}
.btn
{
   width: 100%; 
} 
.my
{
    margin-top: 5px;
    letter-spacing: 2px;
}
.myheader 
{
    font-size: 18pt;
}
.mysubheader
{
    text-align: justify;
}
.error
{
    text-align: justify;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.mycont 
{
    margin-top: 100px;
}